.avatarname {
    display: flex;
    align-items: center;
    border:solid;
    /* width: 50%; */

    margin-top: 5px;
    margin-left: 1%;

    cursor: pointer; 

    
}

.listeusers {
    width: 80%;

}

.nickname {
    margin-left: 5%;
}

    
.avatarname:hover {
    background-color: rgb(181, 187, 187);
}

.followers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
